
<div class="feed">
  <% images.forEach((image, index) => {  %>
    <% if( index === 32 )  { %>
      <div class="profile-image large">
    <% } else { %>
       <div class="profile-image small">
        <% } %>
        <a href="/images/<%= image.id %>" >
          <img src="<%= image.src %>" alt="<%= image.caption %>">
        </a>
      </div>
  <% }) %>

</div>
