
<div class="feed">

  <% images.forEach((image) => { %>
      <div class="profile-image">
        <a href="/images/<%= image.id %>" >
          <img src="<%= image.src %>" alt="<%= image.caption %>">
        </a>
      </div>
  <% }) %>

</div>
