<form class="sessionForm" method="POST" action="/images/new" enctype="multipart/form-data">
  <div class="addImage">
    <label for="filename" placeholder="Add Image"> Find Image</label>
    <input type="file" name="filename" id="filename">
  </div>
  <div class="addImage">
    <%# <label for="caption" value="caption" placeholder="caption"></label>%>
    <textarea name="caption" id="caption"  value="caption" placeholder="Add Caption"></textarea>
  </div>
  <button>Upload</button>
</form>
