<div class="feed">
  <div class="recipe-image">
    <img src="<%= image.src %>" alt="<%= image.caption %>">
  </div>
  <div class="feed">
    <p>
      <%= image.ingredients %>
    </p>
  </div>
</div>
