<h2>Join us</h2>
<h3> Be part of the community.</h3>

<a class="sessionLink facebook" href="<%= oauth.facebook.getLoginURL() %>">Join using Facebook</a>

<p class="sessionLink"> <span>OR </span> </p>

<form class="sessionForm" method="POST" action="/register">
  <div>
    <%# <label for="username">Username</label>%>
    <input type="text" name="username" id="username" placeholder="Username">
  </div>
  <div>
    <%# <label for="email">Email</label>%>
    <input type="email" name="email" id="email" placeholder="Email">
  </div>
  <div>
    <%# <label for="password">Password</label>%>
    <input type="password" name="password" id="password" placeholder="Password">
  </div>
  <div>
    <%# <label for="passwordConfirmation">Password Confirmation</label>%>
    <input type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Password Confirmation">
  </div>

  <button>Register</button>
</form>


<p class="otherSession"> Already a member? <a href="/login">  Login</a></p>
