

<footer>
  <ul class="">
    <li class="">
      <a class="" href="#">About</a>
    </li>
    <li class="">
      <a class="" href="#">Copy right</a>
    </li>
    <li class="">
      <a class="" href="#"> Contact</a>
    </li>
  </ul>
</footer>
