<nav class="">
    <ul class="">
      <li class="">
        <a class="" href="/user/<%= user.id %>">Username</a>
      </li>
      <li class="">
        <a class="" href="/images">Discover</a>
      </li>
      <li class="">
        <a class="" href="/#">Search Bar</a>
      </li>
      <li class="">
        <a class="" href="/logout">Logout</a>
      </li>
    </ul>
</nav>
