<nav class="">
    <ul class="">
      <li class="">
        <a class="" href="/logout">Username</a>
      </li>
      <li class="">
        <a class="" href="/logout">Search Bar</a>
      </li>
      <li class="">
        <a class="" href="/logout">Logout</a>
      </li>
    </ul>
</nav>
