<nav class="">
    <ul class="">

      <% if(locals.isAuthenticated) { %>
        <li class="">
            <a class="" href="/users/<%= user.id %>"><%= user.username %></a>
        </li>
        <li class="">
          <a class="" href="/images">Discover</a>
        </li>

        <li class="">
          <a class="" href="/logout">Logout</a>
        </li>

        <li class="">
          <form class="" action="/images" method="GET">
            <input class="search" type="text" name="ingredients" placeholder="Search..">
          </form>
        </li>

      <% } %>
    </ul>
</nav>
