<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>project-2</title>
    <%# <link rel="stylesheet" href="/css/style.css">%>
    <% include ./partials/stylesheets %>
    <script src="/js/app.js" charset="utf-8"></script>
  </head>
  <body>
    <% if(locals.isAuthenticated) { %>
      <% include ./partials/navbar %>
    <% } %>
    <% for(const type in messages) { %>
      <div class="<%= type %>">
        <h5><%= messages[type] %></h5>
      </div>
    <% } %>
    <main>
      <%- body %>
    </main>

      <% if(locals.isAuthenticated) { %>
        <% include ./partials/footer %>
      <% } %>
    
  </body>
</html>
