<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>project-2</title>
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/app.js" charset="utf-8"></script>
  </head>
  <body>

    <header>
      <% include ./partials/navbar %>
    </header>

    <main>

      <% for(const type in messages) { %>
        <div class="<%= type %>">
          <h5><%= messages[type] %></h5>
        </div>
      <% } %>

      <%- body %>

    </main>

    <footer>
      <% include ./partials/footer %>
    </footer>

  </body>
</html>
