
<section class="landing-page">
  <h2>Specsavers Image Recognition</h2>
  <h3> Upload an image and let the app find your ideal pair of glasses using Image Recognition.
</section>


<form class="sessionForm" method="POST" action="/" enctype="multipart/form-data">
  <div class="addImage">
    <label for="filename" placeholder="Add Image"> Take Photo</label>
    <input type="file" name="filename" id="filename" capture="camera">
    <%# <input class="camera" type="file" accept="image/*" capture="camera">%>
  </div>
  <div class="addImage">
    <textarea style="display:none" name="caption" id="caption"  value="caption" placeholder="Add Caption"></textarea>
  </div>
  <button>Run Image Recognition </button>
</form>
