<h2>Lazy Recipes</h2>


<div class="feed">


  <div class="grid">
    <div class="grid-sizer"></div>
    <% images.forEach((image, index) => {  %>
    <div class="grid-item">
      <img src="<%= image.src %>" alt="<%= image.caption %>">
      <a href="/images/<%= image.id %>" >
        <p>View Recipe </p>
      </a>
    </div>
    <% }) %>
  </div>

</div>
