<a class="backbutton" href="/">Back to home page</a>

<div class="feed">
  <br/>
  <br/>
  <br/>
  <div class="demographic">
    <div>
      <span>Gender:</span> <%= gender %>
    </div>
  </div>
  <div class="demographic">
    <div>
      <span>Age Group:</span> <%= ageGroup %>
    </div>
  </div>

</div>
