* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 0;
  outline: none;
}

html { overflow-y: scroll; }

body {
  //padding: 25px;
   //background-color: rgb(210,50,98);
   background: rgba(33, 33, 51, 0.9);
   transition: all 0.8s ease-in-out;
}
h2.h2user {
  margin-top: 60px;
}

div.recipeWrap {
  h3 {
    margin-top: 10px;
    font-size: 20px;
    color: black;
    margin-top: 25px;
    border-top: 3px solid black;
  }
  h4 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 14px;
    color: dodgerblue;
  }
}

div.logo{
  position: relative;
  display: block;
  margin-top: -40px;
  margin: 0 auto;
  //height: 34px;
  width: 34px;
  //background: grey;

  img {
    position: absolute;
    margin-top: -88px;
    //right: 11px;
    display: block;
    height: 34px;
    width: 90%;
    transition: all 0.2s ease-in-out;
    &:hover {
        margin-top: -90px;
        transform: rotate(-180deg);
    }
  }
}

.home {
  color: white;
  transition: all 0.8s ease-in-out;
}
h3.home {
  margin-top: 30px;
  opacity: 0.8;
  transition: all 0.8s ease-in-out;
 }

.changeColor {
   background: white;
   color: black;
   //margin-bottom: 60px;
}
a.sessionLink.upload {
  margin-top: 60px;
}

h5 {
  transition: all 1.2s ease-in-out;
  font-size: 13px;
  opacity: 0;
  text-transform: uppercase;
  margin-top:10px;
}
h5.madeBy {
  margin-top:100px;
  //color: -webkit-linear-gradient(left,#35d6d1 30%,#ecff28 70%) no-repeat;
  background: -webkit-linear-gradient(left,#35d6d1 30%,#ecff28 70%) no-repeat;
  -webkit-background-clip: text;
  color: #b4f25f;
  -webkit-text-fill-color: transparent;
  margin-bottom: 50vh ;
  opacity: 1;
}
header.opacity {
  opacity:0.8;
}
.changeColorH2 {
  color: rgba(33, 33, 51, 1);
}
.changeColorH3 {
  color: rgba(33, 33, 51, 1);
}

form, input, button {
  font-size: 12px;
}

main {
  min-height: calc(100vh - 200px);
  margin-top: 100px;
  overflow: hidden;
  text-align: center;
}

footer, header {
  overflow: visible;
  position: relative;
  left:0;
  right: 0;
  top: 0;
  height: 100px;
  //background: rgba(33, 33, 51, 0.9);
  background: white;
  opacity:0.92;
  transition: opacity 0.8 ease-in-out;
  //border-bottom: 6px solid rgba(33, 33, 51, 0.4);
  ul {
    position: relative;
    text-align: center;
    //text-align: left;
    position: relative;
    top:30px;
    height: 40px;
    //line-height: 20px;
    //background: white;
    list-style: none;
    display: block;
    width: 80%;
    margin: 0 auto;
    li:first-child {
      float:left;
    }
    li:nth-child(4), li:nth-child(3) {
      float:right;
    }
    li:nth-child(2) {
      float:none;
      margin-top: 6px;
    }
    li {
      // background:green;
      display: inline-block;
      margin: 0px 20px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight:bolder;
      font-style: bold;
      &.joinLink {
      //   background: -webkit-linear-gradient(100deg,#3626A7 30%,#84DCC6 70%) no-repeat;
      //   -webkit-background-clip: text;
      //   color: #b4f25f;
      //   -webkit-text-fill-color: transparent;
      //   margin-bottom: 400px ;
      //   opacity: 1;
        a {
          background: #84dcc6;
          border-radius: 10px;
          color:white;
            &:hover {
              color:#84dcc6;
            }
          }
       }


      a {
        margin-top: 0;
        font-size: inherit;
        // box-sizing: content-box;
        padding: 10px;
        line-height: 20px;
        display: block;
        color: black;
        // height: 50px;
        // background: yellow;
        &:hover {
          color:#84dcc6;
        }



      }
    }
  }
}

footer {
  margin-top: 100px;
  height: 350px;
  background: rgba(33, 33, 51, 0.9);
  color:white;
}

header {
  position: fixed;
  z-index: 1000;
}

input[type=text].search {
  background: ghostwhite url(http://www.freeiconspng.com/uploads/search-icon-png-18.png) 62px 9px;
  font-weight:400;
  background-size: 10px 10px;
  font-size: 12px;
  display:block;
  margin: 0;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  border-radius: 14px;
  color: black;
  height: 28px;
  left:30px;
  background-repeat: no-repeat;
  padding-top: 1px;
  padding-left: 80px;

  position: absolute;
  left: 0;
  right: 0;
  margin: auto;

  &::-webkit-input-placeholder {
    color: #aaaaaa;
  }
  &:focus {
      background: white url(http://www.freeiconspng.com/uploads/search-icon-png-18.png) 5% 9px;
      background-size: 10px 10px;
      background-repeat: no-repeat;
      padding-top: 1px;
      padding-left: 26px;
  }
}

h2 {
  margin: 140px 0 10px 0;
  font-size: 28px;
  color: black;
}
h3 {
  margin: 0px 0 30px 0;
  font-size: 18px;
  color: black;
}

form.sessionForm {
  width: 500px;
  margin: 0 auto;
  input, button {

    margin: 5px 0;
    height: 40px;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 24px;
    padding-top: 1px;
    background: #fcfcfc;
    padding-left: 25px;
    font-size: 14px;
    &:focus {
      background: white;
      border: 1px solid black;
      &::-webkit-input-placeholder {
        opacity: 0;
      }
    }

  }
  button {
    padding-left: 0px;
    background: #84DCC6;
    color:white;
    font-weight: 600;
    border-color: #84DCC6;
    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }

  div.addImage {
    margin-top: 10px;
    label {
      border-radius: 24px;
      width: 100%;
      font-size: 14px;
      margin-top: 100px;
      font-weight: 600;
      border: 1px solid #D6EDFF;
      background: #D6EDFF;
      display: inline-block;
      padding: 10px 0px;
      text-align: center;
      cursor: pointer;
      color:black;

      &:hover{
        opacity: 0.8;
      }
    }
    input[type="file"] {
    display: none;
}
    textarea {
      background: ghostwhite;
      font-size: 13px;
      border: 1px solid #dbdbdb;
      border-radius: 20px;
      text-align: center;
      // padding-left: 10px;
      padding-top: 10px;
      width:100%;
      height: 40px;
      resize: none;
      margin-bottom: 10px;
      &::-webkit-input-placeholder {
        color:    grey;
        font-size: 14px;
      }
      &:focus {
        background: white;
        //border: 1px solid black;
      }
    }
  }
}

a.sessionLink {
  margin-top: 40px;
  color: white;
  font-weight: bold;
  background: #84dcc6;
  display:block;
  width: 500px;
  margin: 10px auto;
  line-height: 40px;
  font-size: 14px;
  border-radius: 24px;
  border: 1px solid #84dcc6;
  &:hover {
    opacity: 0.8;
  }
  &.edit {
    background: ghostwhite;
    border: 1px solid ghostwhite;
    color: #cec8c8;
  }
}

a.facebook {
  margin-top: 50px;
  background: #3626A7;
  color:white;
  font-weight: 600;
  border-color:  #3626A7;
  &:hover {
    opacity: 0.9;
  }
}
p.sessionLink {
  display:block;
  width: 500px;
  margin: 30px auto;
  line-height: 30px;
  margin-top: 50px;

  span {
    margin: 0 auto;
    display:block;
    background: white;
    font-size: 12px;
    width: 70px;
  }
  &::before {
    margin-bottom: -15px;
    content: "";
    display:block;
    width: 500px;
    height: 1px;
    background: #e5e5e5;
  }
}

p.otherSession {
  display:block;
  font-size: 14px;
  color: black;
  margin: 30px auto;
  width: 500px;
  line-height: 30px;
  a {
    font-size: inherit;
    color: grey;
    margin-left: 10px;
  }
}




//grid

//-------------------------------------------------------------------------


.grid {
  margin-top: 50px;
  //background: ghostwhite;
  padding-left: 0.66%;
  &:after {
  content: '';
  display: block;
  clear: both;
  }
}

.grid-sizer {
  width: 33.333%;
  background:red;

}
.grid-item {
  float: left;
  width: 32.333%;
  margin: 0.5% 0px;
  position: relative;
  a {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: block;
    background: rgba(16, 114, 233, 0.1);
    //color: rgba(16, 114, 233, 0.0);
    color: white;
    transition: 0.3s ease;
    border-radius: 12px;

    // box-shadow: 0px #ccc;
    p {
      position: absolute;
      top:49%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      width: 150px;
      padding: 8px 9px;
      font-weight: 600;
      //height: 10px;
      //border: 1px solid white;
      border-radius: 10px;
      line-height: 100%;
      font-size: 15px;
      //text-transform: uppercase;
      transition: 0.3s ease-in-out;
      // display:block;
      color: inherit;
      // background: rgba(16, 114, 233, 0.0);
      // z-index: 80;
      // opacity: 0.2;
    }
    &:hover{
        background: rgba(33, 33, 51, 0.5);
        //background: rgba(16, 114, 233, 0.3);
        p {
          opacity: 1;
        }
      //box-shadow: 6px #ccc;

    }

  }
}
.grid-item img {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 12px;
}






h1 {
  font-size: 28px;
}


form.delete {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
  //margin-top: -25px;
  //margin-right: -65px;
  button {
    border-radius: 4px;
    background:white;
    opacity: 0.5;
    border: none;
    height:35px;
    width:35px;
    transition: all .07s ease-in-out;
    div {
    background: rgb(132, 220, 198);
    height: 35px;
    position: relative;
    width: 4px;
    left: 15px;
    top: 0px;
    transform: rotate(45deg);
      &:after {
      background: rgb(132, 220, 198);
      content: "";
      height: 4px;
      left: -16px;
      position: absolute;
      top: 15px;
      width: 35px;
      }
    }
    &:hover {
      //background: none;
      opacity: 1;
      color: black;
      cursor: pointer;
    }
  }
}



.feed {
  display: block;
  width: 90%;
  margin: 0 auto;
  //background: ghostwhite;
  overflow: visible;
  padding-bottom: 100px;
  padding-top: 000px;
  p {
    font-size: 20px;
    color: black;
  }
}


//
// .grow { transition: all .2s ease-in-out; }
// .grow:hover { transform: scale(1.1); }

.recipe-image {
  margin: 0 auto;
  position: relative;
  display: inline-block;
  height: 450px;
  overflow: hidden;
  margin: 0 15px;
    img {
    margin: 0 auto;
    display: block;
    height: 100%;
  }
}
