* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 0;
}

body {
  //padding: 25px;
}

a {
  font-size: 12px;
}

main {
  min-height: calc(100vh - 200px);
  overflow: hidden;
}

h1 {
  font-size: 28px;
}

form {
  padding: 0;
  margin: 0;
  outline: none;
  &.register {
    margin-top: 70px;
  }
  &.login {
    margin-top: 200px;
  }
}

input {
  font-size: 14px;
  outline: none;
  width: 300px;
  height: 30px;
  margin-top: 8px;
  padding-left: 12px;

  &::-webkit-input-placeholder {
    color: grey;
  }
}

button {
  outline: none;
  box-sizing: border-box;
  margin-top: 25px;
  font-size: 15px;
  width: 180px;
  height: 35px;
  border: 3px black solid;
  color: black;
  font-weight: bold;
  background: white;
  cursor: pointer;
  &:hover {
    background: black;
    color: white;
  }
}

form.delete {
  z-index: 2;
  margin-top: -325px;
  margin-right: -265px;
  button {
    background:none;
    opacity: 0.4;
    border: none;
    height:35px;
    width:35px;
    transition: all .07s ease-in-out;
    div {
    background: white;
    height: 35px;
    position: relative;
    width: 4px;
    left: 10px;
    top: -2px;
    transform: rotate(45deg);
      &:after {
      background: white;
      content: "";
      height: 4px;
      left: -16px;
      position: absolute;
      top: 15px;
      width: 35px;
      }
    }
    &:hover {
      background: none;
      opacity: 1;
      color: black;
    }
  }
}

input[type=text].search {
    display:block;
    margin: 0;
    width: 200px;
    box-sizing: border-box;
    border: 3px solid black;
    // border-radius: 4px;
    font-size: 16px;
    height: 56px;
    // line-height: 36px;
    background-color: white;
    //    background-position: 0px 0px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}

input[type=text].search:focus {
    width: 200%;
}


.feed {
  display: block;
  width: 100%;
  margin: 0 auto;
  background: beige;
  overflow: hidden;
  padding-bottom: 100px;
  padding-top: 200px;
  p {
    font-size: 20px;
    color: black;
  }
}

.profile-image {
  float: left;
  padding: 0;
  position: relative;
  display: inline-block;
  width: calc( ((100vw - 50px) / 2) - 1vw );
  height: calc( ((100vw - 50px) / 2) - 1vw );
  margin:  0.5vw ;
  overflow: hidden;
    a {
        img{
        margin: 0 auto;
        display: block;
        height: 100%;
        opacity: 0.9;
        transition: all .2s ease-in-out;

        &:hover {
          transform: scale(1.01);
          opacity: 0.95;
        }
    }
  }
}
.small {

  width: calc( ((100vw - 50px) / 4) - 1vw );
  height: calc( ((100vw - 50px) / 4) - 1vw );
  margin:  0.5vw ;
  overflow: hidden;
}


//
// .grow { transition: all .2s ease-in-out; }
// .grow:hover { transform: scale(1.1); }

.recipe-image {
  margin: 0 auto;
  position: relative;
  display: inline-block;
  height: 450px;
  overflow: hidden;
  margin: 0 15px;
    img {
    margin: 0 auto;
    display: block;
    height: 100%;
  }
}


footer, header {
  overflow: visible;
  position: relative;
  left:0;
  right: 0;
  top: 0;
  height: 100px;
  text-align: left;
  //margin-top: 100px;
  // height: 50px;
  background: grey;
  // width: 90%;
  // background: teal;
  ul {
    position: relative;
    top:20px;
    line-height: 50px;
    background: teal;
    list-style: none;
    display: block;
    width: 95%;
    margin: 0 auto;
    li {
      display: inline-block;
      margin-right: 15px;
      a {
        border: 3px solid black;
        font-size: 16px;
        // box-sizing: content-box;
        padding: 15px;
        line-height: 20px;
        display: block;
        // height: 50px;
        // background: yellow;
        &:hover {
          border: 3px solid white;
          color:white
        }
      }
    }
  }
}
