<h2>Log in</h2>

<a class="sessionLink facebook" href="<%= oauth.facebook.getLoginURL() %>">Log in using Facebook</a>

<p class="sessionLink"> <span>OR </span> </p>

<form class="sessionForm" method="POST" action="/login">
  <div>
    <label for="email"></label>
    <input type="email" name="email" id="email" placeholder="Email">
  </div>
  <div>
    <label for="password"></label>
    <input type="password" name="password" id="password" placeholder="Password">
  </div>

  <button>Login</button>
</form>

<p class="otherSession"> Not a member? <a href="/register">  Join here</a></p>
